<html>
<head>
	<title>Admin Page</title>
	<!-- Include whatever css is needed -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- password main.js -->
	<script src="{{ url_for('static', filename='main.js') }}"></script>

	<!-- bootstrap js -->
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</head>
<body>
	<section id="information">
		<h1 class="adminHeaders">Course Information</h1>
			<button type="button" id="addCourseButton" class="btn btn-primary">Add Course +</button>

		<h1 class="adminHeaders">Languages</h1>
			<button type="button" id="addLanguageButton" class="btn btn-primary">Add Language +</button>

		<h1 class="adminHeaders">Work Experience</h1>
			<button type="button" id="addWorkButton" class="btn btn-primary">Add Work Experience +</button>
			
		<h1 class="adminHeaders">Projects</h1>
			<button type="button" id="addProjectButton" class="btn btn-primary">Add Projects +</button>
	</section>

	<!-- Modal for password -->
    <div class="modal fade" id="passwordAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Restricted!</h4>
          </div>
          <div class="modal-body">
           Enter the password
           <input type="password" id="modalPasswordBox" name="password">
           <div id="passwordSubmitAlert" class="alert alert-warning alert-dismissible fade in" role="alert" hidden="hidden">
			  <strong>Warning</strong> Incorrect Password
			</div>
		  </div>
          <div class="modal-footer">
            <button id="passwordSubmitButton" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for course submission -->
    <div class="modal fade" id="courseSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Course</h4>
          </div>
          <div class="modal-body">
           Enter the course name
           <input type="input" id="modalCourseSubBox" name="courseSub">
           <!-- <div id="passwordSubmitAlert" class="alert alert-warning alert-dismissible fade in" role="alert" hidden="hidden">
			  <strong>Warning</strong> Incorrect Password
			</div> -->
		  </div>
          <div class="modal-footer">
            <button id="courseSubmitButton" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for language submission -->
    <div class="modal fade" id="languageSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Course</h4>
          </div>
          <div class="modal-body">
           Enter the language
           <input type="input" id="modalLanguageSubBox" name="courseSub">
           <!-- <div id="passwordSubmitAlert" class="alert alert-warning alert-dismissible fade in" role="alert" hidden="hidden">
			  <strong>Warning</strong> Incorrect Password
			</div> -->
		  </div>
          <div class="modal-footer">
            <button id="languageSubmitButton" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Modal for project submission -->
    <div class="modal fade" id="projectSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Course</h4>
          </div>
          <div class="modal-body">
           Enter the project
           <textarea class="form-control" rows="8" id="modalProjectSubBox"></textarea>
           <input type="input" id="modalProjectLinkBox">
           <!-- <div id="passwordSubmitAlert" class="alert alert-warning alert-dismissible fade in" role="alert" hidden="hidden">
			  <strong>Warning</strong> Incorrect Password
			</div> -->
		  </div>
          <div class="modal-footer">
            <button id="projectSubmitButton" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for work submission -->
    <div class="modal fade" id="workSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Course</h4>
          </div>
          <div class="modal-body">
           Enter the work experience info
           <ul class="list-group">
           		<li class="list-group-item">
           			Place
           			<input type="input" id="modalWorkPlaceBox">
           		</li>
           		<li class="list-group-item">
           			Location
           			<input type="input" id="modalWorkLocationBox">
           		</li>
           		<li class="list-group-item">
           			Time-Period
           			<input type="input" id="modalWorkTimePeriodBox">
           		</li>
           		<li class="list-group-item">
           			Role
           			<input type="input" id="modalWorkRoleBox">
           		</li>
           		<li class="list-group-item">
           			Description
           			<textarea class="form-control" rows="8" id="modalWorkDescriptionBox"></textarea>
           		</li>
           	</ul>
           <!-- <div id="passwordSubmitAlert" class="alert alert-warning alert-dismissible fade in" role="alert" hidden="hidden">
			  <strong>Warning</strong> Incorrect Password
			</div> -->
		  </div>
          <div class="modal-footer">
            <button id="workSubmitButton" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>


</body>
</html>