<html>
<head>
	<title>Contact Me</title>
	<!-- Include whatever css is needed -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<!-- style page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<!-- animations css page from http://www.justinaguilar.com/animations/# -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animations.css') }}">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

	<!-- bootstrap js -->
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
	<section id="header">
		<div id="nameTitle">
			<h1 id="nameHeader">Patrick Centeno</h1>
		</div>
	</section>

	<section id="content">
		<div id="contactInfo" class="container">
			<h1><strong>Email me </strong> <a href="mailto:pcenteno3492@gmail.com"><strong>here</strong></a></h1>
			<h1><a href="https://github.com/PatrickCenteno">Check out my github</a></h1>
		</div>
	</section>


</body>
</html>