
<html>
<head>
	<title>Patrick Centeno</title>
	<!-- Include whatever css is needed -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<!-- style page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<!-- animations css page from http://www.justinaguilar.com/animations/# -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animations.css') }}">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

	<!-- bootstrap js -->
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</head>
<body>
	<section id="header">
		<div id="nameTitle">
			<div id="nameHeader" class="slideRight">Patrick Centeno</div>
			<h2 id="nameDescription" class="slideRight">Aspiring Web Developer</h2>
		</div>
	</section>

	<!-- <section id="aboutMe">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros mauris, maximus ac est in, dictum porta erat. In pretium augue finibus, porttitor libero eget, pulvinar erat. Aliquam quis pulvinar neque. Nullam quam velit, placerat non purus nec, rutrum semper.
	</section> -->

	<section id="content">
		<div class="row-fluid">
			<div class="contentGrid col-md-6 col-xs-12">
				<h3 class="contentList slideRight">
					<a href="{{ url_for('show_education') }}">Education</a>
				</h3>
			</div>
			<div class="contentGrid col-md-6 col-xs-12">
				<h3 class="contentList slideLeft">
					<a href="{{ url_for('show_work') }}">Work Experience</a>
				</h3>
			</div>
		</div>

		<div class="row-fluid">
			<div class="contentGrid col-md-6 col-xs-12">
				<h3 class="contentList slideRight">
					<a href="{{ url_for('show_projects') }}">Personal Projects</a>
				</h3>
			</div>
			<div class="contentGrid col-md-6 col-xs-12">
				<h3 class="contentList slideLeft">
					<a href="{{ url_for('show_languages') }}">Languages</a>
				</h3>
			</div>
		</div>
	</section>

	<section id="footer">
		<div id="footerContent">
			<div><strong>Powered by Flask</strong></div>
			<a id="contactUrl" href="{{ url_for('show_contact_page') }}">Contact info</a>
		</div>
		<div>You last visited this site on {{ date_visited }}</div>
	</section>

</body>
</html>