<html>
<head>
	<title>Patrick Centeno</title>
	<!-- Include whatever css is needed -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

	<!-- style page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<!-- animations css page from http://www.justinaguilar.com/animations/# -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animations.css') }}">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- bootstrap js -->
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</head>
<body>
	<section id="header">
		<div id="nameTitle">
			<h1 id="nameHeader">Patrick Centeno</h1>
		</div>
	</section>

	<section id="aboutMe">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros mauris, maximus ac est in, dictum porta erat. In pretium augue finibus, porttitor libero eget, pulvinar erat. Aliquam quis pulvinar neque. Nullam quam velit, placerat non purus nec, rutrum semper.
	</section>

	<section id="content">
		<h3 class="contentList slideLeft">
			<a href="http://localhost:5000/education">Education</a>
		</h3>
		<h3 class="contentList slideLeft">
			<a href="http://localhost:5000/work">Work Experience</a>
		</h3>
		<h3 class="contentList slideLeft">
			<a href="http://localhost:5000/projects">Personal Projects</a>
		</h3>
		<h3 class="contentList slideLeft">
			<a href="http://localhost:5000/languages">Programming Languages</a>
		</h3>
	</section>

</body>
</html>