/*html{
	min-height: 100%;
	position: relative;
}*/

@font-face{
	font-family: Roboto-Light;
	src: url(Roboto-Light.ttf);
	/*font-family: Arvo;
	src: url(https://fonts.googleapis.com/css?family=Arvo);*/
}

body {
	/*height: 100%;*/
	font-family: Roboto-Light;
}


body #nameTitle{
	color: #ffffff;
	/*background-color: #000000;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 25px;
}

#nameHeader{
	padding: 20px;
	font-family: 'Arvo', serif;
	font-size: 72px;
}

#nameDescription{
	padding: 20px;
	font-family: 'Arvo', serif;
}

#aboutMe{
	padding: 25px;
	padding-left: 70px;
	padding-right: 70px;
	color: #ffffff;
	/*background-color: #000000;*/
}

#courseHeader{
	padding: 25px;
}

#contactInfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#content{
	/*display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;*/
	/*height: 100%;*/
	/*position: absolute;*/
}

.row .contentGrid{
	padding: 75px;
	font-size: 32px;
	display: flex;
	justify-content:center;
}

#content a{
	color: #000000;
	text-decoration: bold;
}

#contactUrl{
	padding-left: 10px;
}

#footer{
	padding:75px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	color: #ffffff;
	/*background-color: #000000;*/
}

#footerContent{
	display: flex;
	flex direction: row;
}

.educationHeader{
	margin-top: 0px;
	font-size: 42px;
	font-family: 'Arvo', serif;
}

.workHeader{
	margin-top: 0px;
	font-size: 42px;
	font-family: 'Arvo', serif;
}

.contentList{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 30px;
	font-size: 42px;
}